

.App {
  text-align: center;
  height: 100vh;
  background: url('./background.jpg') center;
  
}

table{
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error{
  border: solid red;
}
.warning{
  color: red;
}

.addURLButton{
display: flex;
justify-content: left;
margin-bottom: 10px;
}
.search{
width: 25%;
margin-right: 4.5rem;
height: 5vh;
}
.searchBar{
text-align: end;
}
.tag{
  margin: 5px;
}
.query{
  text-align: center;
}